@import "./config.scss";

.table-head {
  background-color: $color-primary-dark !important;
}
.task-status {
  // background-color: white;
  padding: 2px 5px;
  border-radius: 3px;
  .icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 31px;
      height: 31px;
      top: 50%;
      border-radius: 50%;
      left: 50%;
      transform: translate(-50%,-51%);
    }
  }
  .name {
    font-size: 13px;
  }
}
.assigned-to {
  position: relative;
  &:hover .remove-icon {
    opacity: 1;
  }
  .remove-icon {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  width: 40px;
  height: 40px;
  border: 2px solid $color-light;
  border-radius: 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  // overflow: hidden;
  position: relative;
  cursor: pointer;
  &:hover {
    .emp-info {
      display: block;
    }
  }
  .emp-info {
    transition: 0.3s;
    display: none;
    left: -16px;
    top: 60px;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    white-space: nowrap;
    width: fit-content;
    background-color: $color-dark-blue;
    position: absolute;
    z-index: 10;
  }
}
.head {
  .header-name {
    border: 1px solid $color-secondary-green;
    color: $color-secondary-green;
    font-weight: bold;
    background-color: rgb(189, 255, 192);
    padding: 2px 20px;
    font-size: 14px;
    border-radius: 50px;
  }
  .header-icon {
    background-size: cover;
    width: 50px;
    
    height: 50px;
    border-radius: 50%;
  }
}
.input-field {
  border-radius: 3px;
  border: 2px solid $color-primary-dark;
  padding: 10px;
  outline: 0;
  background-color: rgba(255, 255, 255, 0.705);
  font-weight: bold;
  &:focus {
    background-color: white;
  }
}
.register-form {
  border-radius: 3px;
  border: 1px solid $color-primary-dark;
  outline: 0;
  text-align: left;
  padding: 10px 0;
  text-indent: 10px;
}

.submit-button {
  background-color: $color-primary-dark;
  outline: 0;
  border: 0;
  font-weight: bold;
  color: white;
  padding: 10px 0;
  border-radius: 3px;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    outline: 2px solid $color-secondary-green;
  }
}

.login-form {
  border-radius: 3px;
  padding: 100px 70px;
  background-color: rgb(233, 233, 233);
}
