$color-primary-light: #f29f67;
$color-primary-dark: #1e1e2c;
$color-secondary-blue: #3b8ff3;
// $color-secondary-green: #34B1AA;
$color-secondary-green: #16c47f;

$color-dark-blue: #0b2447;
$color-light-blue: #19376d;
$color-light-pink: #576cbc;
$color-light: #a5d7e8;

$status-color-1: #578fca;
$status-color-2: #3d8d7a;
$status-color-3: #e52020;
$status-color-4: #FF9D23;
