$color-primary-light: #f29f67;
$color-primary-dark: #1e1e2c;
$color-secondary-blue: #3B8FF3;
// $color-secondary-green: #34B1AA;
$color-secondary-green: #16C47F;

$color-dark-blue: #0b2447;
$color-light-blue: #19376d;
$color-light-pink: #576cbc;
$color-light: #a5d7e8;
