@import "./config.scss";
@import url("//cdn.web-fonts.ge/fonts/bpg-arial-caps/css/bpg-arial-caps.min.css");

* {
  margin: 0;
  padding: 0;
  font-family: "BPG Arial Caps", sans-serif !important;
}
body {
  overflow: hidden;
}
.header-title {
  font-weight: bold !important;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}
.layout-col-1 {
  background-color: rgb(250, 250, 250);
}
.layout-col-2 {
  background-color: white;
}
.c-white {
  color: white;
}
.color-light {
  transition: 0.3s;
  cursor: pointer;
  color: $color-primary-dark;
}
.color-light-pink {
  color: $color-primary-dark;
}
.main-title {
  background-color: $color-primary-dark;
}
.nav-item {
  width: 100%;
  padding: 10px 0;
  border-radius: 3px;
  transition: 0.3s;
  &:hover {
    background-color: $color-secondary-green;
    .color-light {
      color: white;
    }
  }
}
.task-status-1 {
  color: $status-color-1;
}
.task-status-2 {
  color: $status-color-2;
}
.task-status-3 {
  color: $status-color-3;
}
.task-status-4 {
  color: $status-color-4;
}

.task-background-status-1 {
  background-color: $status-color-1;
}

.task-background-status-2 {
  background-color: $status-color-2;
}

.task-background-status-3 {
  background-color: $status-color-3;
}

.task-background-status-4 {
  background-color: $status-color-4;
}

.active-color-light {
  color: white !important;
}
.active-nav-item {
  background-color: $color-secondary-green !important;
  color: white !important;
}
.active-sub-item {
  color: $color-secondary-green;
}

.close-icon-button {
  background-color: white;
  transition: 0.3s;
  color: $color-secondary-green;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: white;
    background-color: $color-secondary-green;
  }
}
.nav-sub-item {
  &:hover {
    .color-light {
      color: $color-secondary-green;
    }
  }
}

.log-out {
  background-color: $color-secondary-green;
  color: white;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
  padding: 9px 13px;
  font-weight: bold;
  font-size: 16px;
}

.select-input {
  background-color: white;
  padding: 10px;
  outline: 0;
  border-radius: 5px;
  border: 2px solid $color-secondary-green;
}

.primary-button-danger {
  background-color: $color-danger;
  color: white;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    outline: 1px solid $color-danger;
    background-color: transparent;
    color: $color-danger;
  }
}
