@import "./config.scss";

.datetime-input {
  padding: 10px 5px;
  font-size: 15px;
}
.task-item-container {
  // height: 800px;

  overflow-y: auto;
  align-items: flex-start;
  display: flex;
  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .task-item {
    .title {
      font-size: 25px;
    }
    .description {
      font-size: 17px;
      font-weight: bold;
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.03);
      box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
    }
    transition: 0.3s;
    height: 140px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    .icon {
      transition: 0.3s;
      color: white;
      &:hover {
        background-color: white;
        color: $color-secondary-green;
      }
    }
  }
}

.emp-list {
  height: 800px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* Enables smooth scrolling on iOS */

  &::-webkit-scrollbar {
    width: 0px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .emp-list-item {
    position: relative;
    background-color: $color-secondary-green;
    width: 100%;
    border-radius: 5px;
    .emp-item-image {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid white;
      background-size: cover;
    }
  }
}
.current-task-container {
  position: absolute;
  z-index: 1000;
  padding: 10px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 1200px;
  height: 700px;
  .status-container {
    z-index: 1000;
    width: 200px;
    .statuses {
      padding: 1px;
      background-color: white;
      border-radius: 0 0 5px 5px;
      // box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    }
    .status-bar-element {
      height: 40px;
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
      .task-status-element {
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }
    }
  }
}
.status-item {
  cursor: pointer;
  position: relative;
  &:hover {
    .active-status-item {
      width: 100%;
    }
  }
  .active-status-item {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    transition: 0.3s;
    height: 2px;
  }
}
.user-button {
  // position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background-color: $color-secondary-green;
    color: white;
  }
}
.status-container {
  height: 40px;
  .select-bar {
    width: 200px;
    background-color: rgba(0, 0, 0, 0.04);
    height: 100%;
  }
}

.comments {
  overflow-y: scroll;
  height: 590px;

  &::-webkit-scrollbar {
    width: 0px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .comment-box {
    width: 100%;
    border-radius: 5px;
    min-height: 100px;
    background-color: rgba(0, 0, 0, 0.04);
  }
}
.make-comment {
  width: 100%;
  input {
    width: 100%;
    padding: 10px 0;
  }
  button {
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: $color-secondary-green;
    padding: 0 10px;
    border: 0;
  }
}
